@import
url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

.titulo{
    color:rgb(110,46,8);
    font-family: 'Caveat',cursive;
    font-weight: 700; 
}

.titulo-notificaciones{
    display: flex;
    align-items: center;
}

.padre-titulo{
    width: 50%;
    text-align: right;
}

.buscador-notificaciones{
    display: flex;
    justify-content: space-around;
    padding: 0px 20px;
    width: 50%;
}
.buscador{
    width: 60%;
}
.notificaciones{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.num-icon{
    display: flex;
}

.n-n{
    color: red;
    font-size: 10px;
}
.i-n{
    color: blue;
    font-size: 20px;
}
.portada{
    background-image: url(../img/portada.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
    height:400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.recomendaciones{
    color: black;
    display: flex;
}
.d-flex{
    display:flex;
}

.libro-portada{
    width: 100%;
    height: 80%;
    overflow: hidden;
}
.libro-portada img{
    width: 100%;
}

.libros{
    display: flex;
}
.tarjeta-libro{
    /* display: flex; */
    width: 300px;
    height: 500px;
    margin: 3vw;
}
.datos-autor{
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.call-compra{
    display: flex;
}
.btn-compra{
    background-color: red;
    border:none;
    padding: 5px;
    color: white;
}
.portada-libro{
    display: flex;
    width: 100px;
    height: 200px;
}
.conocenos{
    align-items: center;
}

.libreria{
    display: flex;
    width: 100%;
    height: 500px;
}
.eslogan{
    display: flex;
    background-color: aquamarine;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer{
    display: flex;
}
.columna{
    display: flex;
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
}